@font-face {
  font-family: "Gotham-Light";
  src: url("./Gotham-Light.woff") format("woff");
 }
 
.search.icon {
  width: 1.8vh;
  height: 1.8vh;
  stroke: #fff;
  fill: #fff;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.icon.controls {
  width: 4vh;
  height: 4vh;
  stroke: #2d2d2d;
  fill: #2d2d2d;
  -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
  filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
  cursor: pointer;

}


.clock-loader {
  --clock-color: rgb(110, 110, 110);
  --clock-width: 1.5rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.1rem;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 2px solid var(--clock-color);
  border-radius: 50%;
}
  .clock-loader::before,
  .clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: ClockSpin infinite linear;
  }

  .clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  .clock-loader:after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }

  .playerLoading {
    position: absolute;
    width: 30px;
    height: 30px;
    position:relative;
    animation:Rotate 1s linear infinite;
    border-radius:50%;

  }
  .playerLoadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .playerLoadingContainer .percent{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #eb778e;
    font-size: 10px;

  }

  
  .fifteen .cls-1{fill:none;}
  .fifteen .cls-2,
  .fifteen .cls-3{fill:#2d2d2d;}
  .fifteen .cls-3{font-size:94.77px;font-family:"Gotham-Light";font-weight:300;}

  .playerLoading circle {
    width:100%;
    height:100%;
    fill:none;
    stroke-width:2px;
    stroke:#eb778ead;
    stroke-linecap:round;
    stroke-dasharray:100;
    stroke-dashoffset:100;
    animation:Loading 1s linear infinite;
  }

  
  @keyframes Rotate{
    0%{
      transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  

  @keyframes Loading{
    0%,100%{
      stroke-dashoffset:100;
    }
    50%{
      stroke-dashoffset:0;
    }
    50.1%{
      stroke-dashoffset:200;
    }
  }
  
  
  @keyframes ClockSpin {
    to {
      transform: rotate(1turn);
    }
  }





