
.search.icon {
  width: 1.8vh;
  height: 1.8vh;
  stroke: #fff;
  fill: #fff;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.icon.controls {
  width: 4vh;
  height: 4vh;
  stroke: #333;
  fill: #333;
  cursor: pointer;

}


.clock-loader {
  --clock-color: rgb(110, 110, 110);
  --clock-width: 1.5rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.1rem;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 2px solid var(--clock-color);
  border-radius: 50%;
}
  .clock-loader::before,
  .clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: ClockSpin infinite linear;
  }

  .clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  .clock-loader:after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }

  .playerSpinner {
    width: 35px;
    height: 35px;
  }
  .playerSpinner span {
      display: block;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      width: 100%;
    }
  
  .playerSpinner svg {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute; top: 0; left: 0;
    }
  
  .playerSpinner circle:nth-of-type(2) {
      animation: PlayerSpin 3s linear infinite;
      stroke-dasharray: 1 1;
      stroke-dashoffset: 1;
      transform-origin: 50% 50%;
      -webkit-transform: rotate(-.25turn);
      transform: rotate(-.25turn);

    }
  
  
  @keyframes ClockSpin {
    to {
      transform: rotate(1turn);
    }
  }
  @keyframes PlayerSpin {
    0% {
      stroke-dashoffset: 1;
      -webkit-transform: rotate(-.25turn);
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -1;
      -webkit-transform: rotate(.75turn);
      transform: rotate(.75turn);

    }
  }




