input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
    border-radius: 7px;
    overflow: hidden;

  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #2d2d2d;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  ::-webkit-slider-thumb {
   -webkit-appearance: none;
    box-shadow: -100vw 0 0 100vw #EB778E;
    width: 0px;
    cursor: pointer;
    margin-top: -7.6px;
    border-radius: 0; /* iOS */
  }
  input[type=range][value=0]::-webkit-slider-thumb {
    box-shadow: 0;
    
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2d2d2d;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #2d2d2d;
    border-radius: 25px;
    border: 0px solid #000101;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2d2d2d;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #2d2d2d;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2d2d2d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2d2d2d;
  }
  