@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@font-face {
  font-family: "Gotham-Light";
  src: url("../../assets/Gotham-Light.woff") format("woff");
 }
 
.player {
  width: 100vw;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotham-Light", sans-serif;
  border-radius: 10px 10px 0 0;
  position: relative;
  top: -20.5vh;
  transition: .5s ease-in-out;
  user-select: none;
}
.player-box {
  width: 60vh;
  max-width: 95vw;
  height: 60vh;
  position: absolute;
  background: transparent;
  box-shadow: 0 0 85px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: .5s ease-in-out;
  
}
.player-controls {
  position: absolute;
  width: 85%;
  top: 75%;
  display: flex;
  color: #666;

  justify-content: space-around;
}
.player-controls svg {
  filter: drop-shadow(0 0 50px rgba(0,0,0,.2))
}
.player-text {
  text-align: center;
  margin-top: -10%;
}
.player-title {
  font-size: 22px;
  margin: 0 10%;
  width: 80%;
  position: relative;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
  color: #EB778E;

}
.player-author {
  margin-top: 10% ;
  font-size: 11px;
  position: relative;
  letter-spacing: 3px;
  color: #c06174;

}
.player-chapter {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: #666;

}
.player-controls-text {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-controls-seek {
  position: absolute;
  bottom: 2%;
  width: 76%;
  display: flex;
  color: #888;
  font-size: 14px;
}
.player-controls-seek input {
  width: 100%;
  position: relative;
  bottom: 35px;
}

.player-controls-cts {
  position: absolute;
  left: 0;
}
.player-controls-ds {
  position: absolute;
  right: 0;
  opacity: 1;
}
.player-hide {
  display: flex;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  transition: .6s ease-in-out;
}
.player-hide svg {
  width: 100%;
  height: 100%;
}
.player-hide .cls-1{fill:#333;}
.player-hide .cls-2{fill:#c1c1c1;}

#play-button {
  transition: .5s;
}

.player-controls-play .clock-loader {
  margin-left: -15px;
  transform: scale(1.3);
  border: 2px solid #444;

}
.player-speed {
  position: fixed;
  bottom: 14px;
  right: 30%;
  color: #666;
}
@media screen and (max-width: 660px) {
  
  .player-box {
    width: 100%;
    height: 0vh;
    box-shadow: none;

  }
  .player-title {
    width: 80vw;
    margin: 0 10vw;
    font-size: 17px;
  }
  .player-author {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .player-controls-cts, .player-controls-ds {
    font-size: 14px;
  }
  .player-speed {
    bottom: 11px;
    
  }
}

