@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@font-face {
  font-family: "Gotham-Light";
  src: url("../../assets/Gotham-Light.woff") format("woff");
 }
 
.player {
  width: 100vw;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotham-Light", sans-serif;
  border-radius: 10px 10px 0 0;
  position: relative;
  top: -20.5vh;
  transition: .5s ease-in-out;
  user-select: none;
}
.player-box {
  width: 60vh;
  max-width: 95vw;
  height: 60vh;
  position: absolute;
  background: transparent;
  box-shadow: 0 0 85px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: .5s ease-in-out;
  
}
.player-controls {
  position: absolute;
  width: 86.7%;
  bottom: 90px;
  display: flex;
  color: #444;

  justify-content: space-around;
}
.player-controls svg {
  filter: drop-shadow(0 0 50px rgba(0,0,0,.2))
}
.player-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -15%;
  width: 100%;
}
.player-title {
  font-size: 22px;
  margin: 0 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
  color: #EB778E;

}
.player-author {
  margin-top: 7% ;
  font-size: 11px;
  position: relative;
  letter-spacing: 3px;
  color: #c06174;

}
.player-chapter-pie {
  width: 20%;
  text-align: center;
  font-size: 10px;
  background: transparent;
}
.CircularProgressbar {
  width: 35% !important;
}
.player-chapter-text {
  width: 15%;
  text-align: center;
  color: #555;
}
.player-controls-text {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-controls-seek {
  position: absolute;
  bottom: 2%;
  width: 76%;
  display: flex;
  color: #888;
  font-size: 14px;
}
.player-controls-seek input {
  width: 100%;
  position: relative;
  bottom: 40px;
}

.player-controls-cts {
  width: 15%;
}
.player-controls-ds {
  width: 15%;
  text-align: right;
  opacity: 1;
}
.player-hide {
  display: flex;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  transition: .6s ease-in-out;
}
.player-hide svg {
  width: 100%;
  height: 100%;
}
.player-hide .cls-1{fill:#333;}
.player-hide .cls-2{fill:#c1c1c1;}

#play-button {
  transition: .5s;
}

.player-controls-play .clock-loader {
  margin-left: -15px;
  transform: scale(1.3);
  border: 2px solid #444;

}
.player-controls-speed {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}




.player-book-info * {
  max-width: 100%;

}
.player-book-info {
  position: absolute;
  top: 20px;
  width: 80%;
  color: #EB778E;
  font-family: 'Montserrat';
  height: 68%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);;
  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  
}
.player-book-info-cover {
  width: 100%;
  height: auto;
  margin: -25px auto 70px auto !important;
  box-shadow: 0 0 25px #eb778e38;
  border-radius: 5px;
}
.small-cover {
  width: 70%;
}
.full-cover {
  width: 80%;
}
.player-book-info::-webkit-scrollbar {
  display: none;
}

.player-book-info-content {
  width: 100%;
  height: 100%;
  margin: 50px 0;
  
}

.player-book-info-raw {
  display: flex;
  margin: 6px;
  opacity: 0;
  transform: translateY(25px);

}
.player-book-info-keys {
  width: 50%;
  text-align: right;
  margin-right: 20px;
  color: rgb(78, 78, 78);
}
.player-book-info-values {
  width: 50%;
  text-align: left;
  color: #EB778E
}
.player-book-info-description {
  width: 90%;
  color: #EB778E;
  text-align: justify;
  margin: 0 5% 50px 5%;
}

.player-controls-chapter {
  width: 25%;
  display: flex;
  justify-content: center;
}
select {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  background-color: transparent !important;
  color: #444;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
}
.player-controls-chapter-select {

}
select:focus {
  outline: none;
}


@media screen and (orientation: portrait) {

  .player-controls {
    width: 102%;
  }
  .player-controls-seek {
    width: 89%;
  }
  
  .player-box {
    width: 100%;
    height: 0vh;
    box-shadow: none;
  }
  .player {
    border-radius: 0;
  }


  .player-title {
    width: 88%;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    transform: translateY(25px);
  }
  .player-author {
    font-size: 10px;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(25px);
  }
  .player-controls-cts, .player-controls-ds, select, option{
    font-size: 13px;
    font-family: "Montserrat";
  }
  .player-book-info { 
    width: 100%;
  }
  .small-cover {
    width: 70%;
  }
  .full-cover {
    width: 90%;
  }
}

