@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

.registration {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
 
}
.registration-circles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}

.registration-circle {
    width: 40vw;
    height: 40vw;
    position: absolute;
    background: radial-gradient(rgb(48, 48, 48), #000);
    border-radius: 50%;
    z-index: -1;
}
.registration-circle.second {
    width: 20vw;
    height: 20vw;
    position: absolute;
    background: radial-gradient(rgb(66, 66, 66), #000);
    border-radius: 50%;
    left: 20%;
    top: 10%;
    z-index: -2;
    opacity: .5;
}
.registration-circle.third {
    width: 25vw;
    height: 25vw;
    position: absolute;
    background: radial-gradient(rgb(54, 54, 54), #000);
    border-radius: 50%;
    left: 60%;
    top: 0;
    z-index: -2;
opacity: .5;
}

.registration-circle.fourth {
    width: 35vw;
    height: 35vw;
    position: absolute;
    background: radial-gradient(rgb(29, 29, 29), #000);
    border-radius: 50%;
    left: 65%;
    top: 20%;
    z-index: -2;
opacity: .5;
}
.registration-circle.fifth {
    width: 45vw;
    height: 45vw;
    position: absolute;
    background: radial-gradient(rgb(44, 44, 44), #000);
    border-radius: 50%;
    left: 10%;
    top: 40%;
    z-index: -2;
    opacity: .5;
}

.registration-circle.sixth {
    width: 40vw;
    height: 40vw;
    position: absolute;
    background: radial-gradient(rgb(49, 49, 49), #000);
    border-radius: 50%;
    left: 70%;
    top: 40%;
    z-index: -2;
    opacity: .5;
}


.registration-form {
     position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vh;
}
.registration-footer {
    color: #797979c5;
    font-size: 12px;
    cursor: pointer;
}

.registration-form input {
    width: 200px;
   background: rgb(32, 32, 32);
   border: none;
   margin: 5px;
   height: 15%;
   transition: .3s ease-in-out;
   color: #EB778E;
   padding: 0 10px;
   border-radius: 2px;
}
.registration-form input:focus {
    width: 200px;
    background: rgb(32, 32, 32);
    border: none;
    outline: 0;
    height: 15%;
 }
 .registration-form-button {
    margin: 10px;
    width: 220px;
    height: 40px;
    background-color: rgba(68, 68, 68, 0.253);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #EB778E;
    border: none;
    transition: .3s;
}
.registration-form-button:focus {
   outline: none;
   border:1px solid #EB778E

}
.registration-error {
    color: #EB778E;
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: .2s;
}