@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');


.search:not(.icon) {
  display: -webkit-box;
  display: -ms-flexbox;
  position: absolute;
  display: flex;
  justify-self: flex-end;
  width: 50vw;
  height: 3vh;
  right: 0;
  top: 3.2vh;

}

.search input {
  border-radius: 2px;
  border: none;
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 0;
  position: absolute;
  right: 3%;
  height: 100%;
  transition: .5s ease-out;
}

.search input:focus {
  outline: none;
}

.search button {
  position: absolute;
  right: 1%;
  background: transparent;
  color: white;
  border: none;

}
.search button:focus {
  outline: none;
}
.search-animation {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 4%;
  top: 12%;
  border: 4px solid #EB778E;
  animation: rotate 2s infinite ;
  transition: .8s;
  border-radius: 3px;
}
@keyframes rotate {
	0% {
    transform: rotate(0deg);
    
  }
  30% {
    transform: rotate(-120deg);
    
	}
	70% {
    transform: rotate(180deg) scale(.8);
    border: 4px solid rgb(250, 199, 90);

  }
  100% {
		transform: rotate(360deg);
	}
}


@media screen and (max-width: 700px) {
  .search button {
    right: 3%
  }
  .search input {
    right: 9vw;
    font-size: 12px;
  }
  .search-animation {
    right: 10vw;
  }
}