@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');


.search:not(.icon) {
  display: -webkit-box;
  display: -ms-flexbox;
  position: absolute;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  width: 50vw;
  height: 9vh;
  right: 0;
  top: 0;

}

.search input {
  border-radius: 2px;
  border: none;
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 0;
  position: absolute;
  right: 6%;
  height: 25px;
  margin-top: -12px;
  transition: .5s ease-out;
}

.search input:focus {
  outline: none;
}

.search button {
  position: absolute;
  right: 1%;
  background: transparent;
  color: white;
  border: none;
  top: 35%;
  

}
.search button:focus {
  outline: none;
}
.search-animation {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 8%;
  top: 35%;
  border: 4px solid #EB778E;
  animation: rotate 2s infinite ;
  transition: .8s;
  border-radius: 3px;
}
.search-result {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 8.5vh;
  right: 0;

}
.search-result-list {
  list-style-type: none;
  position: absolute;
  right: 0;
  margin: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  overflow-y: scroll;
  background: transparent;

}
.search-result-list-item {
  width: 100%;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 12px;
  background-color: #222;
  color: #eee;
  font-size: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.search-result-list-item-top {
 font-size: 12px;
 color: #EB778E;
}
.search-result-list-item-top {
  font-size: 12px;
 }
.search-result-list-item-bottom {
  color: #777;
  font-size: 9px;
 }
.search-result-list-item:hover {
  border: 1px solid #555;
  background-color: #111;

}
@keyframes rotate {
	0% {
    transform: rotate(0deg);
    
  }
  30% {
    transform: rotate(-120deg);
    
	}
	70% {
    transform: rotate(180deg) scale(.8);
    border: 4px solid rgb(250, 199, 90);

  }
  100% {
		transform: rotate(360deg);
	}
}


@media screen and (max-width: 700px) {
  .search:not(.icon) {
  top: 0;

  }
  .search-result-list {
    width: 100vw;
  }
  .search button {
    right: 3%;
    top: 30%;
  }
  .search input {
    right: 10vw;
    height: 20px;
    margin-top: -13px;
    font-size: 12px;
  }
  .search-animation {
    right: 10vw;
  }
}