@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');


.user {
    width: 30%;
    height: 8vh;
    left: 15px;
    top: -15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.user-icon {
    width: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-name {
    width: 100%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size: .7em;
    user-select: none;
    margin: 0 10px;


}
.user svg {
    fill: #6d6d6d;
    width: 100%;
}
.user-quit {
    width:  20px;
    height: 20px;
    border: none;
    margin: 0 20px;
}
.door-1{fill:#666;}.door-2{fill:#444;}

@media screen and (max-width: 660px) {
    .user {
        top: -10px;
        width: 40vw;
        left: 10px;
    }
    .user-quit {
        margin: 0 15px 0 0;
    }
    .user-name {
        font-size: 8px;
    }
   
}